.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: oklch(85.2% 0.199 91.936);
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-logo img {
  height: 20px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Slab', serif;
}

.nav-item a {
  color: black;
  text-decoration: none;
  font-size: 24px;
}

.nav-item a:hover {
  text-decoration: underline;
}

.home-content {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;     
  text-align: center;      
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'BBH Sans Bartle', sans-serif;
  font-weight: 400; 
  text-transform: capitalize; 
}

.home-logo{
  width: 100%;
  height: auto;
}

footer{
  width: 100%;
  height: 30px;
  background-color: oklch(85.2% 0.199 91.936);
}

h2{
  text-decoration: underline;
  display: grid;
  place-items: center;
  font-family: 'BBH Sans Bartle', sans-serif;
  font-weight: 200;
}
.product-display{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2em;
  align-items: center;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 1000px;
  width: 100%;
  margin-top: 1em;
}

.card {
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.card h3{
  background-color: #007acc;
  color: white;
  margin: 0;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}

.price{
  padding: 0 1em 1em;
  font-size: 0.9em;
  color: #333;
  margin: 0;
}

button{
  background-color:oklch(85.2% 0.199 91.936);
  border: none;
  color: black;
  padding: 15px;
  width: 200px;
  height: 50px;
}

button:hover{
  cursor: pointer;
}

.product-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: transform 0.3s ease;
}


.product-img:hover{
  transform: scale(1.03);
}

.footer-details{
  color: oklch(14.1% 0.005 285.823);
  text-align: center;
  padding: 3px;
  font-size: 24px;
  font-family: 'Josefin Slab', serif;
}