.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: oklch(85.2% 0.199 91.936);
  color:aliceblue
}

.nav-list{
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-logo{
  margin-right: auto;
}

.nav-logo img{
  height: 20px;
}

.nav-items{
  display: flex;
  align-items: center;
}

.nav-item{
  margin-left: 20px;
}

.nav-item a {
  color:black;
  text-decoration: none
}

.home-content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'BBH Sans Bartle', sans-serif;
  font-weight: 400;  
}

.home-logo{
  width: 100%;
  height: auto;
}

footer{
  width: 100%;
  height: 30px;
  background-color: oklch(85.2% 0.199 91.936);
}